<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home Page</title>
    </head>
    <body <%= typeof data != "undefined" ? 'style=background-color:' + data.color : ''%> >

        <% if( typeof data != "undefined") { %>
            <p style="color: green"> Hola  <%=data.name%>  , elegiste el color:  <%=data.color%> , tu email es:   <%=data.email%>   y tu edad es:   <%=data.age%></p>
        <% } %>


        <% if( typeof errors != "undefined") { %>
            <ul>
                <% for (let i=0; i < errors.length; i++) { %>
                    <li style="color: red"><%= errors[i].msg %></li>
                <% } %>
            </ul>
        <% } %>
        <form action="/" method="POST">
            <div>
                <label for="name">Ingrese su nombre</label>
                <input type="text" name="name">
            </div>
            <div>
                <label for="color">Seleccione su color</label>
                <select name="color">
                    <option value="">Elegí un color</option>
                    <option value="yellow">Amarillo</option>
                    <option value="blue">Azul</option>
                    <option value="red">Rojo</option>
                    <option value="green">Verde</option>
                </select>
            </div>
            <div>
                <label for="email">Ingrese su email</label>
                <input type="text" name="email">
            </div>
            <div>
                <label for="age">Ingrese su edad</label>
                <input type="text" name="age">
            </div>
            <div>
                <label for="remind">Recordar color</label>
                <input type="checkbox" name="remind">
            </div>
            <button type="submit">Enviar</button>
        </form>
    </body>
</html>